.navbar {
    padding: 1rem;
    background-color: pink;
  }
.btn-primary:hover {
    background-color: mintcream;
    color: black;
  }
.hero-background-img {
    background-image: url("amgphoto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }